

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

       <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }} ">


    <!-- ChartJS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.min.css')}} ">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.min.css')}} ">

    <title>{% block title %}
            {% endblock %}
    </title>
</head>
<body>
{% include 'nav.html'%}
<div class="container">
{% block body %}

Упс, это должна была быть главная страница
{% endblock %}
</div>
 <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- ChartJs -->
    <script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>

    <!-- FontAwesome -->
    <script src="{{ url_for('static', filename='js/fontawesome.all.min.js')}}"></script>
</body>
</html>